#entire {
  margin: 0;
  background-color: #000;
}

#main {
  width: 90%;
  height: 1100px;
  margin: 0 auto;
  font-family: 'Pirata One', sans-serif;
  background-color: #000;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
}

#dd-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
}

#app {
  display: block;
  color: gold;
}

.curios {
  display: block;
  position: absolute;
}

.table {
  display: block;
}

.curios td {
  border: 1px solid white;
}

.curios img {
  width: 60px;
  height: 56px;
  margin: auto;
}
