* {
  margin: 0;
  background-color: #000;
}

#main {
  width: 90%;
  height: 1100px;
  margin: 0 auto;
  font-family: 'Pirata One', sans-serif;
  background-color: #000;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
}

.dd-logo {
  position: absolute;
  top: -190px;
  left: 0;
  right: 0;
  bottom: 180px;
  width: 500px;
  height: 200px;
  margin: auto;
}
