#entire {
  margin: 0;
  background-color: #000;
}

#main {
  width: 90%;
  height: 800px;
  margin: 0 auto;
  font-family: 'Pirata One', sans-serif;
  background-color: #000;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
  border-bottom: thick #bd9b21 double;
}

#dd-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
}

#app {
  display: block;
  color: gold;
}

.curios {
  display: block;
  position: absolute;
}

.table {
  display: block;
}

.curios td {
  border: 1px solid white;
}

.curios img {
  width: 60px;
  height: 56px;
  margin: auto;
}

.message {
  position: absolute;
  z-index: 2;
  width: 66vw;
  height: 136px;
  font-size: 1.2em;
  color: white;
  font-family: 'Cinzel', serif;
  border: 2px gray outset;
}

.msg-text {
  z-index: 2;
  font-family: 'Cinzel Decorative', serif;
  color: #bd9b21;
}

ul {
  margin-top: 30px;
  margin-right: 30px;
  text-align: left;
  list-style-type: none;
}

footer {
  width: 90%;
  height: 2.4em;
  margin: 0 auto;
  background-color: #000;
}

footer p {
  font-family: sans-serif;
  font-size: 0.8em;
  color: white;
  text-align: center;
  margin-top: 1em;
}

footer a {
  font-family: sans-serif;
  color: #bf9f00;
  text-decoration: none;
}

.button-box {
  display: inline-block;
}

.button-box input {
  display: inline;
  font-family: 'Cinzel Decorative', sans-serif;
}

.short {
  background-color: #88b04b;
}

.med {
  background-color: yellow;
}

.long {
  background-color: red;
}

.provisions-container {
  display: block;
  width: 320px;
  height: 150px;
}

.provisions-container img {
  width: 320px;
  height: 150px;
}
